footer {
    background: $hijau;
    min-height: auto;
    position: relative;
    padding: 16px;
    .bgbg {
        position: absolute;
        inset: 0;
        width: 100%;
        opacity: .1;
        height: 100%;
        img {
            width: 100%;
        height: 100%;
        object-fit: cover;
        }
        // background-image: url("../img/testimonial-bg.jpg");
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a {
        color:  white;
        &:hover {
            color: $kuning;
            text-decoration: none;
        }
    }
    .imgd {
        @media screen and (max-width:768px) {
            margin-bottom: 16px;
            // margin: 0 auto 16px;
            // display: block;
            // text-align: center;
        }
    }

    h3 {
        color: $kuning;
        font-family: 'DM Serif Display';
    }

    .copyright {
        border-top: 1px solid white;
        padding-top: 16px;
        font-size: .8rem;
    }

}